
.vote{
    float: left;
    margin-top: -5px;
    margin-right: 10px;

    .fa{
        margin-left: .3em;
    }

    .number{
        background-color: rgba(white, .1);
        display: inline-block;
        border-radius: 50px;
        font-size: .8em;
        @include square(1.6em);
    }
}